build/
!build/web/
android/
asserts/
ios/
lib/
macos/
web/
windows/
.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
AudioEffect.txt
build*.cmd
LICENSE
pubspec.lock
pubspec.yaml