name: music_channel_windows
description: A new Flutter project.
version: 0.0.1
homepage:

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  music_platform_interface:
    path: ../music_platform_interface
  shared_preferences: ^2.5.3
  windows_taskbar: ^1.1.2
  window_manager: ^0.5.1
  audioplayers: ^6.5.1
  smtc_windows: ^1.1.0
  tray_manager: ^0.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    implements: music_channel
    platforms:
      windows:
        pluginClass: MusicChannelWindowsPlugin
        dartPluginClass: MusicChannelWindows